html,
* {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

body {

    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

}

/* Barra de navegacion */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.849);
    border-right: 1px ridge rgba(0, 0, 0, 0.596);
}

* {
    margin: 0;
    padding: 0;
}

/* Menu de navegacion */

.nav {

    position: fixed;
    z-index: 100;
    width: 100%;
}

/* Navbar en ingles */

.en .img-nav,
.en .nav-text1,
.en .nav-text2,
.en .nav-text3,
.en .nav-text4,
.en .nav-text5,
.en .switch-l {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.en .nav-text1,
.en .nav-text2,
.en .nav-text3,
.en .nav-text4,
.en .nav-text5 {

    position: relative;
    display: inline-block;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
    font-size: 0.9rem;

}

.dropdown {

    z-index: 1;

}

.dropdown-menu {

    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    transition: all 0.5s ease-in-out;
}

.switch-l {
    
    position: relative;
    display: inline-block;
    transform: translate(6rem, 0.2rem);
    -webkit-transform: translate(6rem, 0.2rem);
    -moz-transform: translate(6rem, 0.2rem);
    -ms-transform: translate(6rem, 0.2rem);
    -o-transform: translate(6rem, 0.2rem);
    font-size: 0.8rem;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    cursor: pointer;
    user-select: none;
    left: 160px;
}

/* Estilos para el switch de idioma */

#english {
    cursor: pointer;
}

#english.active-en {
    background-color: green;
    transition: background-color 0.35s ease-in;
    -webkit-transition: background-color 0.35s ease-in;
    -moz-transition: background-color 0.35s ease-in;
    -ms-transition: background-color 0.35s ease-in;
    -o-transition: background-color 0.35s ease-in;
}

#spanish {
    cursor: pointer;
}

#spanish.active-es {
    background-color: green;
    transition: background-color 0.35s ease-in;
    -webkit-transition: background-color 0.35s ease-in;
    -moz-transition: background-color 0.35s ease-in;
    -ms-transition: background-color 0.35s ease-in;
    -o-transition: background-color 0.35s ease-in;
}

/* Pseudoelementos */

.img-nav:focus {

    outline: none;

}

.en .nav-text1::before,
.en .nav-text2::before,
.en .nav-text3::before,
.en .nav-text4::before,
.en .nav-text5::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    top: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.en .nav-text1:hover::before {
    visibility: visible;
    width: 55%;
}

.en .nav-text2:hover::before {
    visibility: visible;
    width: 67%;
}

.en .nav-text3:hover::before {
    visibility: visible;
    width: 87%;
}

.en .nav-text4:hover::before {
    visibility: visible;
    width: 68%;
}

.en .nav-text5:hover::before {
    visibility: visible;
    width: 65%;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Navbar en español */

.es .img-nav,
.es .nav-text1,
.es .nav-text2,
.es .nav-text3,
.es .nav-text4,
.es .nav-text5,
.es .switch-l {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.es .img-nav {

    position: relative;
    left: -26px;

}

.es .nav-text1,
.es .nav-text2,
.es .nav-text3,
.es .nav-text4,
.es .nav-text5 {
    position: relative;
    display: inline-block;
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
    font-size: 0.9rem;
}

.es .nav-text1::before,
.es .nav-text2::before,
.es .nav-text3::before,
.es .nav-text4::before,
.es .nav-text5::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    top: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

    .es .nav-text1:hover::before {
        visibility: visible;
        width: 55%; 
    }

    .es .nav-text2:hover::before {
        visibility: visible;
        width: 80%;
    }

    .es .nav-text3:hover::before {
        visibility: visible;
        width: 77%;
    }

    .es .nav-text4:hover::before {
        visibility: visible;
        width: 60%;
    }

    .es .nav-text5:hover::before {
        visibility: visible;
        width: 70%;
    }

.es .switch-l {
    position: relative;
    display: inline-block;
    transform: translate(6rem, 0.2rem);
    -webkit-transform: translate(6rem, 0.2rem);
    -moz-transform: translate(6rem, 0.2rem);
    -ms-transform: translate(6rem, 0.2rem);
    -o-transform: translate(6rem, 0.2rem);
    font-size: 0.8rem;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    cursor: pointer;
    user-select: none;
    top: -3px;
    left: 35px;
}


/* Seccion 1 */

.section1 {
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    padding: 0;
}

.row,
.col {
    margin: 0;
    padding: 0;
}

/* Hero */

/* .text-hero {
    z-index: 10;
    left: 84%;
    top: 61.5%;
    font-size: 3.2rem;
    font-size: 6.5rem;
    color: white;
    font-weight: 750;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text-hero2 {
    z-index: 10;
    left: 84%;
    top: 70%;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    font-weight: 200;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
} */

.img-hero {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    z-index: 10;
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%);
}

#container-title {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* ANIMACION PARA EL CARRUSEL */

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    opacity: 0;
}

.carousel-item {
    height: 100vh;
    transition: transform 1s ease, opacity 1s ease;
}

.carousel-item img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
}

.img-c {
    height: 100vh;
    width: 100%;
    animation: desvanecer 2s ease-in-out;
    -webkit-animation: desvanecer 2s ease-in-out;
}

.img-c2,
.img-c3 {
    animation: desvanecer 2s ease-in-out;
    -webkit-animation: desvanecer 2s ease-in-out;
}

/* Seccion 2 */

.section2 {

    width: 100%;
    height: 96vh;
    top: 0;
    left: 0;
    position: relative;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;

}

.col-about-us {

    flex: 1 0 0%;
    height: 96vh;

}

.img-s2 {
    position: relative;
    top: 50%;
    left: 0%;
    text-align: center;
    transform: translate(0%, 12%);
    -webkit-transform: translate(0%, 12%);
    -moz-transform: translate(0%, 12%);
    -ms-transform: translate(0%, 12%);
    -o-transform: translate(0%, 12%);
    filter:contrast(0.9) blur(4.5px);
    -webkit-filter:contrast(0.9) blur(4.5px);
    user-select: none;
}

.title-s2 {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-100%);
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
    font-weight: 100;
    font-size: 3.5rem;
    color: #000000;
    /* text-shadow:0 0 10px rgba(0, 0, 0, 0.79); */
}

.text-s2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -285%);
    -webkit-transform: translate(-50%, -285%);
    -moz-transform: translate(-50%, -285%);
    -ms-transform: translate(-50%, -285%);
    -o-transform: translate(-50%, -285%);
    font-weight: 300;
    font-size: 1.5rem;
    width: 85%;
    color: #000000;
}

/* Section 3 */

.section3 {

    /* border: 1px solid #000000; */
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    padding: 0;

}

.title-s3{

    position: relative;
    left: -250px;
    top: 50px;
    font-weight: 250;
    font-size: 3rem;

}

.title-s3-2{

    font-weight: 250;
    font-size: 3rem;
    border-top: 2px ridge green;
    border-top-left-radius: 10px;

}

.title-s3-3{

    font-weight: 250;
    font-size: 3rem;
    border-bottom: 2px ridge green;
    border-bottom-right-radius: 10px;

}

.accordion-item h2 button{

    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(255, 255, 255);

}

.accordion{
    position: relative;
    margin: auto;
    top: 130px;
    /*width: 63%;
    */width: 70.1%;
    box-shadow: 1px 1px 8px black;

}

.accordion-bg{

    background-color: red;

}

.accordion-item{

    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-left-width: 0;
    border-right: none;

}

.accordion-body{

    text-align: left;
    background-color: #fff;
}

.accordion-button1::after{

    /* margin-left: 632px; */
    margin-left: 700px;
    margin-top: 0px;

}

.es .accordion-button1::after{

    margin-left: 428px;
    margin-top: 0px;

}

.accordion-button2::after{

    /* margin-left: 600px; */
    margin-left: 661px;
    margin-top: 0px;

}

.es .accordion-button2::after{

    margin-left: 605px;
    margin-top: 0px;

}

.accordion-button3::after{

    /* margin-left: 502px; */
    margin-left: 544px;
    margin-top: 0px;

}

.es .accordion-button3::after{

    margin-top: 0px;
    margin-left: 712px;

}

.accordion-button4::after{

    /* margin-left: 672px; */
    margin-left: 747.5px;
    margin-top: 0px;

}

.es .accordion-button4::after{

    margin-top: 0px;
    margin-left: 762px;

}

.accordion-button{

    width: 100%;

}

/* Animaciones para el accordion */
  
  .accordion-collapse.show {
    display: block;
  }

  .accordion-collapse {
    transition: height 0.35s ease;
  }
  
  .accordion-collapse.collapse {
    overflow: hidden;
  }
  
  .animated {
    animation-duration: 0.5s;
  }
  

/* Servicio 1 accordion */

.title-li {

    font-size: 1.5rem;
    font-weight: 300;
    /* background-color: #18b64a5f; */

}

.hidden{

    display: none;

}

.title-li-sub {

    font-size: 1.5rem;
    font-weight: 300;
    /* background-color: #18b64a5f; */

}

/* Servicio 2 accordion */

.title-li-sv2 {

    font-size: 1.5rem;
    font-weight: 300;

}

.p-sub-sv2 {

    /* background-color: #1f6234; */

}

/* Servicio 3 accordion */

.title-li-sv3 {

    font-size: 1.5rem;
    font-weight: 300;
    /* background-color: #78cb5174; */

}

/* Servicio 4 accordion */

.title-li-sv4 {

    font-size: 1.5rem;
    font-weight: 300;

}

/* Section 4 */


/* Animaciones */

@keyframes desvanecer {

    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }

}